@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins" !important;
    background-color: #121212 !important; /*dark grey*/
    padding-bottom: 100px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* alterar cor de seleção do texto */
*::-moz-selection {
    background:#50409a;
    color:#ffffff;
}
*::selection {
    background:#50409a;
    color:#ffffff;
}

.nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #121212; /*dark grey*/
    
}

ul li{
    display: inline;

}
.nav_menu ul li a{ 
    color: #fff;
    text-decoration: none;
    text-shadow: #202225;
    text-shadow: 1px 1px 1px black;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
}


.nav_menu ul li a:hover{
    transition: 2s;
    cursor: pointer;
    background: rgb(49,56,102);
    background: linear-gradient(90deg, rgba(49,56,102,1) 20%, rgba(80,64,154,1) 67%, rgba(150,78,194,1) 100%);
    border-radius: 60px;

}



html::-webkit-scrollbar-track
 {
     border-radius: 10px;
 }
 
html::-webkit-scrollbar
 {
     width: 10px;
 }
 
html::-webkit-scrollbar-thumb 
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #50409a; /*cor da barrinha scrollbar*/
 }


#content{
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    justify-content: center;
    background-color: #181818b7;
    
}

.box-left, .box-right{
    display: grid;
    grid-auto-flow: column;
}

.box-left .text-top{
    flex: auto;
    margin: auto;
    justify-content: center;
}

.text-top h1{
    color: white;
    font-weight: bold;
}

.text-top p{
    background-color: #50409a;
    text-align: center;
    color: white;
    width: 260px;
    height: 25px;
    font-size: 14px;
    margin-left: 70px;
}



#content .box-left{
    justify-content: center;
}

#content .box-right{
    justify-content: center;
    display: block;     /*div down div up*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.img, .social-media p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.social-media p{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    font-size: 33px;
    width: 100%;
}

ion-icon{
    height: 35px;
    width: 35px;
    color:#fff;
    cursor: pointer;

}

ion-icon:hover{
    color: #6450bd;
}


.box-right .img{

    width: 100%;
}

.wrapper{
    width: 50%;
    min-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container-wrapper{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2); /* -20px 20px rgb(0 0 0 / 10%)*/
    margin-top: 20px;
}

.container-wrapper *{
    font-family: "Poppins",sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.container-wrapper h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}



.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 2px solid #50409a;
    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #50409a;


}
.skills:not(:last-child){
    margin-bottom: 30px;  /*margin-bottom: 30px is used which will create a distance of 30px between each bar. */
}

 /*Set a specific value for the animation of each Skills bar */

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 70%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 78%;
    }
}

#bootstrap-bar{
    animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill{
    100%{
        width: 20%;
    }
}

#javascript-bar{
    animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
    100%{
        width: 30%;
    }
}

.about{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.about h1{
    margin-bottom: 15px !important ;
    margin-top: 25px !important ;
}

#presentation article{
    color: #ffff;
    text-align: justify;
    text-shadow: 1px 1px 1px #202225;

}

.sobre h1, .projetos-title h1, .contato h1{
    text-shadow: 1px 1px 1px #202225;
    font-family: "Poppins",sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

.projetos-title{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projetos-title h1{
    font-size: 18px;
    margin-bottom: 18px !important ;
    margin-top: 25px !important ;
}


.projetos{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);

}



.carousel-indicators li {
    width: 5px !important;
    height: 5px !important;
    border-radius: 50%;
}


#carouselSite h5{
    font-size: 15px;
    margin-bottom: 0 !important;
    text-shadow: 2px 2px #202225;
    color: white;
}


.carousel-caption{
    

}
.carousel-inner{
    border-radius: 10px;

    
}
.overlay-image{

}

#contact{
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px 50px 0px;
    
}

#contact form{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

form label{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;
    font-size: 15px !important;
    margin-left: 62px;
    
    
}

form input{
    color: #202225 !important;
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #d1d0d0;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2); /* -20px 20px rgb(0 0 0 / 10%)*/

}

form input:focus{
    background-color: #757575;
    border-bottom: #50409a !important;
}

#contact ::placeholder{
  width: 100%;
  text-align: left;
  font-size: 15px !important;
  
}

#contact #msg{
    padding: 15px 0px 98px 2px;
}

#msg ::placeholder{
    display: flex;
    flex-direction: row;
}

#btn-submit2{
    border: 0;
    cursor: pointer;
    color: #ffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #202225;
    background-color: #50409a;
    text-decoration: none;
    width: 80px;
    height: 30px;
    font-size: 14px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,0); /* -20px 20px rgb(0 0 0 / 10%)*/

}
#btn-submit2:hover{
    transition: 0.1s;
    cursor: pointer;
    background: rgb(49,56,102);
    background: linear-gradient(90deg, rgba(49,56,102,1) 20%, rgba(80,64,154,1) 67%, rgba(150,78,194,1) 100%);
    border-radius: 60px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2); /* -20px 20px rgb(0 0 0 / 10%)*/

    
}

.errorInput{
    border: 1.5px solid red !important;
}

input:focus, label:focus, textarea:focus{
    outline: none;
}



a{
    text-decoration: none;
}



.container-footer{
    background-color: #181818b7;
    width: 100%;
    flex: 1 0 auto;
}

.container-footer ul li :hover{
    color: #515151 !important;
    
}

.container-footer .nav{
    background-color: #181818b7;;

}



.container-footer .border-bottom{
    border-bottom: 1px solid #3B3B3B !important;
}

.footer{
    flex-shrink: 0;
}
